<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
	<div class="container-fluid">
		<a class="navbar-brand logoImg" routerLink="">
			<h2 class="text-white text-capitalize">Gym<span class="text-color">Manager</span></h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
			aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-view-list"></span>
		</button>
		<div class="collapse text-center navbar-collapse" id="navbarsid">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" routerLink="">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="about">About</a>
				</li>
				<li class="nav-item">
                    <a class="nav-link" routerLink='gyms'>Gyms</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link"  routerLink='membership'>Memebership</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" routerLink="blog">Blog</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="contact">Contact</a>
                </li>
			</ul>
		</div>
	</div>
</nav>