<section class="page-title bg-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a routerLink="" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a></li>
              <li class="list-inline-item"><span class="text-white">|</span></li>
              <li class="list-inline-item"><a routerLink="../about" class="text-color text-uppercase text-sm letter-spacing">About us</a></li>
            </ul>
             <h1 class="text-lg text-white mt-2">Who we are</h1>
        </div>
      </div>
    </div>
  </section>

  <section style="padding: 100px 0;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="text-center p-5 shadow">
					<p>Gym Manager is a platform for connecting all gyms in your region into a single entity.
                        With our card subscription you can enjoy every gym for free. The card includes useage of all the gym equipmant plus a free
                        Andorid or IOS app for monitoring your performance. The app has many funcionalaties including adding a goal for your training sessions,
                        requesting help from a personal trainer in the gym and many more privileges.
                    </p>		
                    <p>
                        Find out more about our card plans by clicking <a class="textLink" routerLink="../membership">here</a>  
                    </p>
				</div>
			</div>
		</div>
	</div>
</section>