
    <!-- Section Menu End -->
    
    <!-- Section Slider Start -->
    <!-- Slider Start -->
    <section class="slider">
        <div class="container">
            <div class="row">
                <div @fade class="col-md-8">
                    <span class="h6 d-inline-block mb-4 subhead text-uppercase">Gym fitness club</span>
                    <h1 class="text-uppercase text-white mb-5">Step up your <span class="text-color">fitness Challange</span><br>with us</h1>
                
                    <a routerLink="membership"  class="btn btn-main " >Join Us <i class="ti-angle-right ml-3"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Slider End -->
    
    <!-- Section Intro Start -->
    <section class="mt-80px">
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-6">
                    <div  class=" card p-5 border-0 rounded-top border-bottom position-relative hover-style-1">
                        <span class="number">01</span>
                        <h3 class="mt-3">Modern Equipment</h3>
                        <p class="mt-3 mb-4">Check out our top-geared gyms that will get you in shape this summer!</p>
                        <a routerLink="gyms" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>More details</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card p-5 border-0 rounded-top hover-style-1">
                        <span class="number">02</span>
                        <h3 class="mt-3">Professional trainers</h3>
                        <p class="mt-3 mb-4">Our gyms have only the best gym & fitness trainers, become a member and start your training today!</p>
                        <a routerLink="membership" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>More details</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card p-5 border-0 rounded-top hover-style-1">
                        <span class="number">03</span>
                        <h3 class="mt-3">Amazing Mobile App</h3>
                        <p class="mt-3 mb-4">Get the mobile app to help you in your goals</p>
                        <a routerLink="about" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>More details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Intro End -->
    
    <!-- Section About start -->
    <section class="section about">
        <div class="container">
            <div class="row align-items-center">
                <div   class="col-lg-6">
                    <img data-aos="fade-right" src="assets/images/home/imageContent1.jpg" alt="content image" class="img-fluid rounded shadow w-100">
                </div>
                
                <div class="col-lg-6">
                    <div data-aos="fade-down"  class="pl-3 mt-5 mt-lg-0">
                        <h2 class="mt-1 mb-3">We’ve skill in <br>wide <span class="text-color">range of fitness</span> and Other body health facility. </h2>
    
                        <a routerLink="about" class="btn btn-main">Learn More<i class="fa fa-angle-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section About End -->
    
    
   
    
    <!-- Section Services Start -->
    <section class="bmi-calculator-section spad">
        <div class="container">
            <div class="row">
                <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3 text-color">Try out our free BMI calculator and see where you stand</h2>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="section-title chart-title">
                        <h2 class="text-center">BMI CALCULATOR CHART</h2>
                    </div>
                    <div class="chart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Bmi</th>
                                    <th>WEIGHT STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="point">Below 18.5</td>
                                    <td>Underweight</td>
                                </tr>
                                <tr>
                                    <td class="point">18.5 - 24.9</td>
                                    <td>Healthy</td>
                                </tr>
                                <tr>
                                    <td class="point">25.0 - 29.9</td>
                                    <td>Overweight</td>
                                </tr>
                                <tr>
                                    <td class="point">30.0 - and Above</td>
                                    <td>Obese</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-title chart-calculate-title">
                        <h2 class="text-center">CALCULATE YOUR BMI</h2>
                    </div>
                    <div class="chart-calculate-form">
                        <form  [formGroup]="bmiForm" (ngSubmit)="onSubmit()" action="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Height / cm" formControlName="height">
                                    <span class="text-color" *ngIf="bmiForm.get('height').invalid&& bmiForm.get('height').touched">
                                        <span class="bmiError" *ngIf="bmiForm.get('height').errors['required'] || bmiForm.get('height').errors['min']">
                                            Height is required and must be above 0
                                        </span>
                                        <span class="bmiError" *ngIf="bmiForm.get('height').errors['pattern']">
                                            Height must be a number
                                        </span>
                                    </span>
                                </div>
                                
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Weight / kg" formControlName="weight">
                                    <span class="text-color" *ngIf="bmiForm.get('weight').invalid && bmiForm.get('weight').touched">
                                        <span class="bmiError" *ngIf="bmiForm.get('weight').errors['required'] || bmiForm.get('weight').errors['min']">
                                            Weight is required and must be above 0
                                        </span>
                                        <span class="bmiError" *ngIf="bmiForm.get('weight').errors['pattern']">
                                            Weight must be a number
                                        </span>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Age" formControlName="age"  >
                                    <span class="text-color" *ngIf="bmiForm.get('age').invalid && bmiForm.get('age').touched">
                                        <span class="bmiError" *ngIf="bmiForm.get('age').errors['required'] || bmiForm.get('age').errors['min']">
                                            Age is required and must be above 0
                                        </span>
                                        <span class="bmiError" *ngIf="bmiForm.get('age').errors['pattern']">
                                            Age must be a number
                                        </span>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <select>
                                        <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
                                    </select>
                                </div>
                                <div  class="col-lg-12">
                                    <button [disabled]="bmiForm.invalid" type="submit">Calculate</button>
                                </div>
                            </div>
                        </form>
                        <div *ngIf="bmiResult != null" class=" mt-3 ">
                            <p class="text-color bmiResult">Your BMI is {{bmiResult}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Services End -->
    
    <!-- Section Gallery Start -->
    
    
    <!-- Section Gallery END -->
    
    <!-- Section Course Start -->
    <section class="section course bg-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="section-title">
                        <div class="divider mb-3"></div>
                        <h2>Popular Gyms</h2>
                        <p>We offer more than 35 excelent gyms for your workout!</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <ng-container *ngFor="let gym of gyms; let index = index">
                    <div data-aos="zoom-in-up"
                        data-aos-duration="1000"
                        
                    *ngIf="index <=3" class="col-lg-3 col-md-6">
                        <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
                            <img (click)="onSelect(gym)" src="{{gym.imageCover}}" alt="" class="img-fluid">
        
                            <div class="card-body">
                                <a (click)="onSelect(gym)"><h4 class="font-secondary mb-0">{{gym.name}}</h4></a>
                                <p class=" mb-2">{{gym.description}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
                
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="mt-5 text-center">
                        <a href="#" routerLink='gyms' class="btn btn-main">View all Gyms</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Course ENd -->